bcrypt==3.2.0; python_version >= "3.6"
cffi==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
cryptography==36.0.0; python_version >= "3.6"
dateparser==1.1.0; python_version >= "3.5" and python_full_version >= "3.6.0"
delegator.py==0.1.1; python_full_version >= "3.6.0"
doctl==0.2.3; python_full_version >= "3.6.0"
humanize==3.13.1; python_version >= "3.6" and python_full_version >= "3.6.0"
maya==0.6.1; python_full_version >= "3.6.0"
paramiko==2.8.1
pendulum==2.1.2; python_full_version >= "3.6.0"
pexpect==4.8.0; python_full_version >= "3.6.0"
ptyprocess==0.7.0; python_full_version >= "3.6.0"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pynacl==1.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
python-dateutil==2.8.2; python_version >= "3.5" and python_full_version >= "3.6.0"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version >= "3.6.0"
pytz==2021.3; python_version >= "3.5" and python_full_version >= "3.6.0"
pytzdata==2020.1; python_full_version >= "3.6.0"
regex==2021.11.10; python_version >= "3.5" and python_full_version >= "3.6.0"
six==1.16.0; python_full_version >= "3.6.0" and python_version >= "3.6"
snaptime==0.2.4; python_full_version >= "3.6.0"
tzdata==2021.5; python_version >= "3.6" and python_full_version >= "3.6.0" and platform_system == "Windows"
tzlocal==4.1; python_version >= "3.6" and python_full_version >= "3.6.0"
